:host {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-tertiary);
  width: 22rem;
  transition: transform 0.3s;
  &:hover,
  &:focus {
    transform: scale(1.025);
  }
}

img {
  height: 12rem;
  object-fit: cover;
}

.tags {
  padding: 0.5rem;
  border-top: 1px solid var(--color-tertiary);
  border-bottom: 1px solid var(--color-tertiary);
}

span {
  width: 100%;
  font-weight: 400;
}

.info-project {
  padding: 1rem 1rem 1.4rem 1rem;
  gap: 1rem;
  min-height: 9.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin-bottom: 1.7rem;
  }
  .buttons {
    display: flex;
    margin-top: auto;
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  :host {
    width: 100%;
    max-width: 22rem;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: auto;
    min-height: 10rem;
  }

  .info-project {
    min-height: 8.1rem;
    p {
      margin-bottom: 1.2rem;
      font-size: 0.9rem;
    }

    .buttons {
      flex-wrap: wrap;
    }
  }
}
