:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  section {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    gap: 1.75rem;
    margin-top: 2rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1.75rem;
      color: var(--color-secondary);
    }
  }
}

@media (max-width: 768px) {
  section {
	width: 100%;
    flex-direction: column !important;
    align-self: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    div {
	  width: 100% !important;
      align-items: center !important;
      gap: 1rem !important;
    }
  }
}
