<app-section-title [title]="'conhecimentos'"></app-section-title>

@if (conhecimentos){
<section>
  <div>
    <app-conhecimento-card title="Linguagens" [conhecimentos]="conhecimentos.linguagens" />
	<app-conhecimento-card title="Banco de Dados" [conhecimentos]="conhecimentos.databases" />
</div>
<div>
	<app-conhecimento-card title="Ferramentas" [conhecimentos]="conhecimentos.ferramentas" />
	<app-conhecimento-card title="Outros" [conhecimentos]="conhecimentos.outros" />
</div>
<div>
	<app-conhecimento-card title="Frameworks" [conhecimentos]="conhecimentos.frameworks" />
	<app-conhecimento-card title="Cloud" [conhecimentos]="conhecimentos.cloud" />
  </div>
</section>
}
