<section class="presentation">
  <h2 class="fs-2 font-secondary">Oi, eu sou</h2>
  <h1 class="fs-1 font-primary">Wiris Rafael</h1>
  <h3 class="fs-3 font-secondary">Trabalho como desenvolvedor Full Stack</h3>
  <app-button [text]="'Baixar curriculo'" [link]="'/curriculo'"></app-button>
</section>
<section class="ilustration">
  <img src="/assets/images/pana.svg" alt="Wiris Rafael" />
  <div class="fs-4 font-tertiary">
    <div class="cube"></div>
    <p>Trabalhando na <strong class="font-secondary">Itix</strong></p>
  </div>
</section>
