<div>
  <app-section-title [title]="'projetos'"></app-section-title>
  <a
    class="fs-5 font-secondary"
    href="https://github.com/WirisWernek"
    target="_blank"
    >Ver todos ~~></a
  >
</div>

<section>
  <ul>
    @for (item of projetos; track $index) {
    	<li>
      		<app-project-card [projeto]="item"></app-project-card>
    	</li>
    }
  </ul>
  <ul aria-hidden="true">
    @for (item of projetos; track $index) {
    	<li>
      		<app-project-card [projeto]="item"></app-project-card>
    	</li>
    }
  </ul>
  <ul aria-hidden="true">
    @for (item of projetos; track $index) {
    	<li>
      		<app-project-card [projeto]="item"></app-project-card>
    	</li>
    }
  </ul>
</section>
